## plan to remove by Nov, 15th, 2022. Ask Drew for more questions or before making changes

typescript/react/security/audit/react-dangerouslysetinnerhtml.yaml @DrewDennison
typescript/react/security/audit/react-missing-noreferrer.yaml @DrewDennison
typescript/react/security/audit/react-unsanitized-method.yaml @DrewDennison
typescript/react/security/audit/react-unsanitized-property.yaml @DrewDennison
typescript/react/security/audit/react-http-leak.yaml @DrewDennison
typescript/react/security/audit/react-href-var.yaml @DrewDennison
typescript/react/security/react-insecure-request.yaml @DrewDennison
