typescript/react/security/audit/react-dangerouslysetinnerhtml/react-dangerouslysetinnerhtml.yaml @DrewDennison
typescript/react/security/audit/react-missing-noreferrer/react-missing-noreferrer.yaml @DrewDennison
typescript/react/security/audit/react-unsanitized-method/react-unsanitized-method.yaml @DrewDennison
typescript/react/security/audit/react-unsanitized-property/react-unsanitized-property.yaml @DrewDennison
typescript/react/security/audit/react-http-leak/react-http-leak.yaml @DrewDennison
typescript/react/security/audit/react-href-var/react-href-var.yaml @DrewDennison
typescript/react/security/react-insecure-request/react-insecure-request.yaml @DrewDennison
typescript/nextjs/react-nextjs-router-push/react-nextjs-router-push.yaml @DrewDennison
