[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jinja2 = "~=3.1.4"
pytest = "*"
semgrep = "*"
pyyaml = "*"
pytest-benchmark = "*"

[packages]
semgrep = "*"

[requires]
python_version = "3.9"
