@custom_page_title = “Page <strong>Title</strong>”
<div>
  <!-- ruleid: alias-for-html-safe -->
  <h1><%== @custom_page_title %></h1>
  <!-- ok: alias-for-html-safe -->
  <h1><%= @custom_page_title %></h1>
  <!-- ok: alias-for-html-safe -->
  <h1><%== @custom_page_title.to_json %></h1>
</div>
