@custom_page_title = “Page <strong>Title</strong>”
<div>
  <!-- ruleid: avoid-html-safe -->
  <h1><%= @custom_page_title.html_safe %></h1>
  <!-- ok: avoid-html-safe -->
  <h1><%= @custom_page_title %></h1>
</div>
