@custom_page_title = “Page <strong>Title</strong>”
<div>
  <!-- ruleid: avoid-content-tag -->
  <h1><%= content_tag :p @custom_page_title %></h1>
  <!-- ok: avoid-content-tag -->
  <h1><%= @custom_page_title %></h1>
</div>
