<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    # ruleid: net-webconfig-debug
    <compilation
      defaultLanguage="c#"
      debug="true"
    />
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
  </system.web>
</configuration>

<configuration>
  <system.web>
    # ok: net-webconfig-debug
    <compilation
      defaultLanguage="c#"
    />
  </system.web>
</configuration>