<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
      // ok: web-config-insecure-cookie-settings
      <httpCookies httpOnlyCookies="true" requireSSL="true" />
      <roleManager defaultProvider="SqlProvider"
        enabled="true"
        cacheRolesInCookie="true"
        cookieName=".ASPROLES"
        cookieTimeout="30"
        cookiePath="/MyApplication"
        // ruleid: web-config-insecure-cookie-settings
        cookieRequireSSL="false"
        cookieSlidingExpiration="true"
        cookieProtection="Encrypted" >
        <providers>
          <add
            name="SqlProvider"
            type="System.Web.Security.SqlRoleProvider"
            connectionStringName="SqlServices"
            applicationName="MyApplication" />
        </providers>
      </roleManager>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Microsoft.IIS.Administration.dll" forwardWindowsAuthToken="true" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    <security>
      <authentication>
        <windowsAuthentication enabled="true" />
      </authentication>
      <authorization>
        <clear />
        <add accessType="Allow" roles="Administrators,IIS Administrators" />
      </authorization>
    </security>
  </system.webServer>
  </location>
</configuration>

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
      // ruleid: web-config-insecure-cookie-settings
      <httpCookies httpOnlyCookies="false" requireSSL="false" />
      <roleManager defaultProvider="SqlProvider"
        enabled="true"
        cacheRolesInCookie="true"
        cookieName=".ASPROLES"
        cookieTimeout="30"
        cookiePath="/MyApplication"
        // ruleid: web-config-insecure-cookie-settings
        cookieRequireSSL="false"
        cookieSlidingExpiration="true"
        cookieProtection="Encrypted" >
        <providers>
          <add
            name="SqlProvider"
            type="System.Web.Security.SqlRoleProvider"
            connectionStringName="SqlServices"
            applicationName="MyApplication" />
        </providers>
      </roleManager>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Microsoft.IIS.Administration.dll" forwardWindowsAuthToken="true" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    <security>
      <authentication mode="Forms">
        <forms loginUrl="member_login.aspx"
          cookieless="UseCookies"
          // ruleid: web-config-insecure-cookie-settings
          requireSSL="false"
          path="/MyApplication" />
      </authentication>
      <authorization>
        <clear />
        <add accessType="Allow" roles="Administrators,IIS Administrators" />
      </authorization>
    </security>
  </system.webServer>
  </location>
</configuration>