<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
      // ok: web-config-httponly-cookies-disabled
      <httpCookies httpOnlyCookies="true" requireSSL="true" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Microsoft.IIS.Administration.dll" forwardWindowsAuthToken="true" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    <security>
      <authentication>
        <windowsAuthentication enabled="true" />
      </authentication>
      <authorization>
        <clear />
        <add accessType="Allow" roles="Administrators,IIS Administrators" />
      </authorization>
    </security>
  </system.webServer>
  </location>
</configuration>

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
      // ruleid: web-config-httponly-cookies-disabled
      <httpCookies requireSSL="true" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Microsoft.IIS.Administration.dll" forwardWindowsAuthToken="true" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    <security>
      <authentication mode="Forms">
        <forms loginUrl="member_login.aspx"
          cookieless="UseCookies"
          // ruleid: web-config-insecure-cookie-settings
          requireSSL="false"
          path="/MyApplication" />
      </authentication>
      <authorization>
        <clear />
        <add accessType="Allow" roles="Administrators,IIS Administrators" />
      </authorization>
    </security>
  </system.webServer>
  </location>
</configuration>

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
      // ruleid: web-config-httponly-cookies-disabled
      <someSetting/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Microsoft.IIS.Administration.dll" forwardWindowsAuthToken="true" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    <security>
      <authentication mode="Forms">
        <forms loginUrl="member_login.aspx"
          cookieless="UseCookies"
          // ruleid: web-config-insecure-cookie-settings
          requireSSL="false"
          path="/MyApplication" />
      </authentication>
      <authorization>
        <clear />
        <add accessType="Allow" roles="Administrators,IIS Administrators" />
      </authorization>
    </security>
  </system.webServer>
  </location>
</configuration>