rules:
- id: run-as-non-root
  patterns:
  - pattern-inside: |
      containers:
        ...
  - pattern: |
      image: ...
      ...
  - pattern-not: |
      image: ...
      ...
      securityContext:
        ...
        runAsNonRoot: true
  message: |
    Container allows for running applications as root. This can result in
    privilege escalation attacks. Add 'runAsNonRoot: true' in 'securityContext'
    to prevent this.
  metadata:
    references:
    - https://kubernetes.io/blog/2016/08/security-best-practices-kubernetes-deployment/
    - https://kubernetes.io/docs/concepts/policy/pod-security-policy/
    - https://cheatsheetseries.owasp.org/cheatsheets/Docker_Security_Cheat_Sheet.html#rule-2-set-a-user
  languages: [yaml]
  severity: WARNING
