<div class="container">
  <div class="row">
      <div class="col-6">
<!-- ruleid: django-no-csrf-token -->
          <form method="post">
              <input type="text" name="some_field">Some Field</input>
              <input type="submit" name="submit">Submit</input>
          </form>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-6">
<!-- ruleid: django-no-csrf-token -->
          <form method='POST'>
              <input type="text" name="some_field">Some Field</input>
              <input type="submit" name="submit">Submit</input>
          </form>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-6">
<!-- ruleid: django-no-csrf-token -->
          <form method='PUT'>
              <input type="text" name="some_field">Some Field</input>
              <input type="submit" name="submit">Submit</input>
          </form>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-6">
          <form method="post">
<!-- ok: django-no-csrf-token -->
            {% csrf_token %}
              <input type="text" name="some_field">Some Field</input>
              <input type="submit" name="submit">Submit</input>
          </form>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-6">
          <form method="delete">
<!-- ok: django-no-csrf-token -->
            {% csrf_token %}
              <input type="text" name="some_field">Some Field</input>
              <input type="submit" name="submit">Submit</input>
          </form>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-6">
<!-- ok: django-no-csrf-token -->
          <form>
              <input type="text" name="some_field">Some Field</input>
              <input type="submit" name="submit">Submit</input>
          </form>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-6">
<!-- ok: django-no-csrf-token -->
          <form method="GET">
              <input type="text" name="some_field">Some Field</input>
              <input type="submit" name="submit">Submit</input>
          </form>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-6">
<!-- ok: django-no-csrf-token -->
        <form method="POST" action="{{ url_for('web.organization_settings') }}">
          {{ name_form.csrf_token }}
          {{ render_form_row([name_form.organization_name], col_map={'organization_name': 'col-md-6'}) }}
        
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
      </div>
  </div>
</div>

<!-- a nested {% if %} around a multi-line element must not hide the csrf_token -->
<div class="container">
  <form method="post">
      {% csrf_token %}
      <div>
          {% if x %}
              <div>
                  {{ y }}
              </div>
          {% endif %}
      </div>
      <div>
<!-- ok: django-no-csrf-token -->
          <button type="submit">Go</button>
      </div>
  </form>
</div>

<!-- a longer form without a csrf_token is still reported -->
<div class="container">
<!-- ruleid: django-no-csrf-token -->
  <form method="post">
      <div class="row-0"><input type="text" name="field_0"></div>
      <div class="row-1"><input type="text" name="field_1"></div>
      <div class="row-2"><input type="text" name="field_2"></div>
      <div class="row-3"><input type="text" name="field_3"></div>
      <div class="row-4"><input type="text" name="field_4"></div>
      <div class="row-5"><input type="text" name="field_5"></div>
      <div class="row-6"><input type="text" name="field_6"></div>
      <div class="row-7"><input type="text" name="field_7"></div>
      <div class="row-8"><input type="text" name="field_8"></div>
      <div class="row-9"><input type="text" name="field_9"></div>
      <div class="row-10"><input type="text" name="field_10"></div>
      <div class="row-11"><input type="text" name="field_11"></div>
      <div class="row-12"><input type="text" name="field_12"></div>
      <div class="row-13"><input type="text" name="field_13"></div>
      <div class="row-14"><input type="text" name="field_14"></div>
      <div class="row-15"><input type="text" name="field_15"></div>
      <div class="row-16"><input type="text" name="field_16"></div>
      <div class="row-17"><input type="text" name="field_17"></div>
      <div class="row-18"><input type="text" name="field_18"></div>
      <div class="row-19"><input type="text" name="field_19"></div>
      <button type="submit">Go</button>
  </form>
</div>
