name: semgrep

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  self_test:
    runs-on: ubuntu-latest
    name: test
    steps:
      - uses: actions/checkout@v2
      - name: test
        id: test
        uses: returntocorp/semgrep-rules-test-action@master
      - uses: actions/upload-artifact@v1
        if: always()
        with:
          name: tests
          path: ${{ steps.test.outputs.output_dir }}
