name: semgrep-rules-test-with-agent
on:
  pull_request:
    branches:
    - release
    - develop
  push:
    branches:
    - release
jobs:
  test-agent:
    name: rules-test-with-agent
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        path: semgrep-rules
    - name: delete stats directory
      run: rm -rf semgrep-rules/stats
    - name: delete fingerprints directory
      run: rm -rf semgrep-rules/fingerprints
    - name: test rules with semgrep-agent
      run: |
        docker run --rm -w /src -v ${GITHUB_WORKSPACE}/semgrep-rules:/src returntocorp/semgrep-agent:v1 semgrep-agent --config /src
