name: semgrep-scanner benchmarks

on:
  workflow_dispatch:
  push:
    branches: [release]
  pull_request:
    branches: [develop, release]
jobs:
  trigger:
    # do not run automatically if rule is posted from the playground (can still be started manually)
    # PRs posted by first time contributors already need approval as well
    if: github.actor != 'semgrep-dev-pr-bot'
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - id: changed-files
        name: get changed files
        run: |
          CHANGED_FILES=$(git diff --name-only origin/develop origin/update-semgrep-scanner-trigger| xargs -0 | sed '/^$/d' | sed '/^\(.github\|bash|contrib|fingerprints|generic|json|problem-based-packs|scripts|stats|trusted_python|yaml\)/d' | tr '\n' ' '); echo "changed_files=\"$CHANGED_FILES\"" >> GITHUB_ENV
      - id: print-changed-files
        name: debugging step - print changed files
        run: echo "${{env.changed_files}}"
      - name: Trigger semgrep-scanner argo workflow on push to release
        if: github.event_name == 'push'
        run: |
            curl -X POST https://argo.corp.r2c.dev/api/v1/events/security-research/initiate-scan -H "Authorization: ${{ secrets.ARGO_WORKFLOWS_TOKEN }}" -d "{\"branch\" : \"${{github.ref}}\", \"repo\" : \"semgrep-rules\", \"pull_request\" : \"0000\", \"post_back\" : false }"
      - name: Trigger semgrep-scanner argo workflow on PR to develop or release
        env:
          CHANGED_FILES: ${{ steps.changed-files.outputs.CHANGED_FILES }}
        if: github.event_name == 'pull_request'
        run: |
          curl -X POST https://argo.corp.r2c.dev/api/v1/events/security-research/initiate-scan-argo -H "Authorization: ${{ secrets.ARGO_WORKFLOWS_TOKEN }}" -d "{\"branch\" : \"${{github.head_ref}}\", \"repo\" : \"${{github.event.repository.name}}\", \"commit\" : \"${{github.event.pull_request.head.sha}}\", \"changed_files\" : \"${{env.changed_files}}\"}"
