name: Deploy to semgrep.dev

on:
  push:
    branches:
    - release

jobs:
  do-update:
    if: github.repository == 'returntocorp/semgrep-rules'
    name: Update semgrep.dev
    runs-on: ubuntu-latest
    steps:
    - name: update semgrep.dev
      run: curl --fail -X POST -L https://semgrep.dev/api/admin/update-registry
